.login-wrapper{
    border: 1px solid black;
    margin: auto;
    width: 50%;
    margin-bottom: 2em;
}
.headNav{
    
    text-align: center;
    color: brown;
}
.login-div{
    border: 1px solid black;
    padding: 1em;  
    border-radius: 10px; 
    margin-top: 8em;
    box-shadow: 6px 6px 6px grey;
   
   
}


